body {
  overflow-y: auto;
}
input {
  border: none;
  outline: none;
}
.loading-layer {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
}
.loading-layer .loading-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.1rem;
  background-color: #FFF;
}
.loading-layer img {
  display: inline-block;
  height: 60%;
  margin: 20%;
  animation: rotate 1.5s infinite linear;
  -webkit-animation: rotate 1.5s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
  }
}
.model-layer {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
}
.model-layer .model-inner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 0.3rem;
  width: 6rem;
  height: 3rem;
  border-radius: 0.1rem;
  line-height: 1.5em;
  background-color: #FFF;
  font-size: 0.32rem;
}
.model-layer .model-inner:before {
  font-size: 0.35rem;
  line-height: 2em;
  content: '通知';
  font-weight: bolder;
  display: block;
  text-align: center;
}
.status-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.4);
}
.status-layer .status-begin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 0.3rem;
  width: 5rem;
  height: 2.2rem;
  border-radius: 0.1rem;
  line-height: 1.5em;
  background-color: #FFF;
  font-size: 0.32rem;
  background: url('../img/no-start.png') no-repeat;
  background-size: 100% 100%;
}
.status-layer .status-end {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 0.3rem;
  width: 5rem;
  height: 2.2rem;
  border-radius: 0.1rem;
  line-height: 1.5em;
  background-color: #FFF;
  font-size: 0.32rem;
  background: url('../img/end.png') no-repeat;
  background-size: 100% 100%;
}
.toast-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.toast-layer .container-toast {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.3rem 0.5rem;
  line-height: 0.5rem;
  border-radius: 2px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-size: 0.3rem;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
}
.layerPosition {
  background: rgba(0, 0, 0, 0.3);
}
.layerPosition .confirmBox {
  width: 5.5rem;
  height: auto;
  border-radius: 0.1rem;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.layerPosition .content {
  font-size: 0.28rem;
  box-sizing: border-box;
  padding: 0.48rem 1.05rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #000;
  line-height: 0.4rem;
}
.layerPosition .btnBox {
  display: flex;
}
.layerPosition .btnBox span {
  display: block;
  flex: 1;
  text-align: center;
  line-height: 0.9rem;
  font-size: 0.36rem;
  color: #0276ff;
}
.layerPosition .btnBox span:first-child {
  border-right: 1px solid #ccc;
}
.share-cover {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
}
.share-cover > img {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
}
@-webkit-keyframes rotate {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
  }
}
.hide {
  display: none;
}


/*登录验证码*/

.loading-layer img{
  width: auto;
}

.rule_box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background: rgba(0, 0, 0, 0.7);
}
.rule_info {
  width: 5.7rem;
  height: auto;
  position: fixed;
  top: 2.5rem;
  left: 50%;
  margin-left: -2.85rem;
  background: #fff;
  z-index: 12;
  font-size: 0.3rem;
  border-radius: 0.1rem;
}
.rule_info h4.title {
  width: 100%;
  padding: 0.3rem 0;
  background: #eeeeee;
  font-size: 0.28rem;
  text-align: center;
  font-weight: 600;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
}
.rule_info .rule_list {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 0.3rem;
  font-size: 0.24rem;
  color: #666666;
}
.rule_info .rule_list p {
  padding-top: 0.2rem;
  line-height: 0.36rem;
  display: flex;
}
.rule_info .rule_list p span {
  display: inline-block;
}
.rule_info .rule_list p span.dot {
  width: 0.3rem;
}
.rule_info .rule_list p span.dot2 {
  width: 0.18rem;
}
.rule_info .rule_list p:first-child {
  padding-top: 0;
}
.rule_info .rule_list p.title_second {
  color: #333333;
}
.rule_info .line {
  width: 1px;
  height: 0.66rem;
  background: #fff;
  position: absolute;
  bottom: -0.66rem;
  left: 50%;
}
.rule_info .closed {
  width: 1rem;
  height: 1rem;
  position: absolute;
  bottom: -1.44rem;
  left: 50%;
  margin-left: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rule_info .closed img {
  width: 0.56rem;
  height: 0.56rem;
}
.rule_box .pwd-box {
  width: 5.84rem;
  height: auto;
  padding: 0.3rem;
  box-sizing: border-box;
  background: #fff;
  left: 50%;
  top: 30%;
  margin-left: -2.92rem;
  position: absolute;
  border-radius: 0.1rem;
}
.rule_box .pwd-box.active {
  animation: shake-crazy 0.4s;
}
@keyframes shake-crazy {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.rule_box .pwd-box .title {
  color: #000;
  font-size: 0.24rem;
  text-align: center;
}
.rule_box .pwd-box .errorTxt {
  font-size: 0.24rem;
  margin-top: 0.25rem;
  text-align: center;
}
.rule_box .pwd-box .color_f00 {
  color: #ff0000;
}
.rule_box .pwd-box .captchaImg {
  width: 100%;
  position: relative;
}
.rule_box .pwd-box .captchaImg input[type="tel"] {
  width: 100%;
  height: 10px;
  box-sizing: border-box;
  border: none;
  color: transparent;
  opacity: 0;
  font-size: 0.24rem;
  z-index: 15;
  margin-bottom: 11px;
  border: 1px solid #f00;
  text-indent: -999em;
  margin-left: -100%;
}
.rule_box .pwd-box .captchaImg .fake-box {
  width: 100%;
  display: flex;
  background: #fff;
}
.rule_box .pwd-box .captchaImg .fake-box .item {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  line-height: 0.9rem;
  border: none;
  border: 1px solid #dddddd;
  text-align: center;
  font-size: 0.48rem;
  margin-left: 0.32rem;
  border-radius: 0.05rem;
}
.rule_box .pwd-box .captchaImg .fake-box .item.active {
  border: 1px solid #2096d5;
}
.rule_box .getCaptcha {
  font-size: 0.24rem;
  color: #999999;
  padding: 0.05rem 0;
  margin-top: 0.65rem;
  text-align: center;
}
.rule_box .getCaptcha.disable {
  pointer-events: none;
}
.rule_box .user_info {
  width: 5.1rem;
  height: 5.15rem;
  background: url('../images/info-bg.png') no-repeat;
  background-size: 100% 100%;
  position: relative;
  position: absolute;
  top: 2.66rem;
  left: 50%;
  margin-left: -2.55rem;
}
.rule_box .user_info .info_txt {
  font-size: 0.24rem;
  padding: 0.4rem 0.6rem;
}
.rule_box .user_info .info_txt .tit {
  margin-bottom: 0.3rem;
}
.rule_box .user_info .info_txt .txt {
  line-height: 0.44rem;
  text-indent: 0.5rem;
}
.rule_box .user_info .info_txt .txt .color_r {
  color: #ff0000;
}
.rule_box .user_info .line {
  width: 0.01rem;
  height: 0.66rem;
  background: #fff;
  position: absolute;
  bottom: -0.46rem;
  left: 50%;
}
.rule_box .user_info .getPrize {
  display: block;
  width: 100%;
  height: 1.07rem;
  background: url('../images/login_btn.png') no-repeat;
  background-size: 100% 100%;
  margin-top: 0.3rem;
  font-size: 0.3rem;
  color: #cc0001;
  font-weight: 800;
  text-align: center;
  line-height: 1.07rem;
  position: absolute;
  bottom: -1.5rem;
  left: 0;
}

.status-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
}
.status-layer .container-toast {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.3rem 0.5rem;
  line-height: 0.5rem;
  border-radius: 2px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-size: 0.3rem;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
}